# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native development
.kotlin/
*.orig
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment variables
.env*.local

# TypeScript
*.tsbuildinfo

# Generated native projects (Expo prebuild output)
/ios
/android