name: Backend CI

on:
  push:
    branches: [ main, backend-dev* ]
  pull_request:
    branches: [ main, backend-dev* ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - run: npm install
    - name: Prisma Generate
      run: npx prisma generate
    - run: npm run build
