name: Frontend CI

on:
  push:
    branches: [ main, frontend-dev* ]
  pull_request:
    branches: [ main, frontend-dev* ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app-mobile

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - run: npm install
    - run: npm test
